<ion-header no-border>
    <ion-toolbar color="tertiary">
        <ion-title>CHELECH - Buscar</ion-title>
    </ion-toolbar>
    <ion-progress-bar *ngIf=" buscando " color="tertiary" type="indeterminate"></ion-progress-bar>
    <ion-grid>
        <ion-row style="max-height: 42px;margin-top:10px;">
            <ion-col size="9" style="max-height: 40px;top:-14px;">
                <ion-searchbar class="buscar" mode="ios" animated="true" search-icon="x" type="text" name="texto" [(ngModel)]="texto" showCancelButton="focus" cancelButtonText=" " placeholder="Digite aquí lo que busca..."></ion-searchbar>
            </ion-col>
            <ion-col size="3" style="height: 32px; padding-top: 0px;">
                <ion-button size="small" expand="block" (click)="buscar()" style="height:32px;" color="tertiary">Buscar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>

    <ion-grid style="margin-top: 15px;">
        <ion-row>
            <ion-col *ngFor="let prod of imageList" tappable (click)="verproducto( prod )" size="6" size-md="4" size-sm="4" size-xl="3" size-lg="4">
                <ion-card mode="ios">
                    <!-- ofertas? -->
                    <div *ngIf=" prod.oferta !== true ">
                        <img [src]=" prod.codigosincolor " onerror=" this.src='assets/images/no-img.png' " alt="img" class="imagen" />
                        <ion-card-header>
                            <ion-card-title>$ {{ prod.precio | number:"1.0-0" }}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            {{ prod.descripcion }}
                        </ion-card-content>
                    </div>
                    <div *ngIf=" prod.oferta === true ">
                        <div class="stripe">
                            <i class="right"></i>Oferta
                        </div>
                        <img [src]=" prod.codigosincolor " onerror=" this.src='assets/images/no-img.png' " alt="img" class="imagen" style="top:-65px" />
                        <ion-card-header style="top:-65px">
                            <ion-card-title>$ {{ prod.precio | number:"1.0-0" }}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content style="top:-65px">
                            {{ prod.descripcion }}
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll *ngIf=" lScrollInfinito " threshold="200px" (ionInfinite)="loadImages(false,$event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando más..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="tertiary" (click)="scrollToTop()" size="small">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>