<ion-tabs>

    <ion-tab-bar slot="bottom" color="tertiary">

        <ion-tab-button tab="tabvitrina">
            <ion-icon name="gift-outline"></ion-icon>
            <ion-label>Vitrina</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabofertas">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Ofertas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabcateg">
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label>Tiendas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabbuscar">
            <ion-icon name="search-outline"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabmibolsa">
            <ion-icon name="basket-outline"></ion-icon>
            <ion-badge *ngIf=" baseLocal.miCarrito.length>0 " mode="ios" color="danger">{{ baseLocal.miCarrito.length }}</ion-badge>
            <ion-label>Mi Bolsa</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabmicuenta">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Mi Cuenta</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>